<!doctype html>
<html lang="en">
<head>
<title>Title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../css/estilos.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
</head>
<body>
<header id="header">
    <h1>
        <div class="titulo">
            Rincon del Gocho
        </div>
    </h1>
    <ul class="menu">
        <li>
            <a href="../index.html">Inicio</a>
        </li>
        <li>
            <a href="../gastronomia.html">Menu</a>
        </li>
        <li>
            <a href="../somos.html">Quienes somos</a>
        </li>
        <li>
            <a href="../contactanos.html">Contactanos</a>
        </li>
    </ul>
</header>
<main>
<div id="app" class="container">
    <br>
<h2 class="somos">Productos</h2>
<br>
<a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
<br><br>

<div v-if="error">
<p>Lo sentimos , ........</p>
</div>
<div v-else>
<section v-if="cargando">
<div class="spinner-border"></div>
<p>Cargando .....</p>
</section>
<section v-else>
<div class="container_2">
<table class="table table-bordered">
<thead>
<tr>
<th scope="col">Id</th>
<th scope="col">Nombre</th>
<th scope="col">Precio</th>
<th scope="col">Stock</th>
<th scope="col">Imagen</th>
<th scope="col">Acciones</th>
</tr>
</thead>
<tbody>
<tr class="" v-for="producto in productos">
<td scope="row">{{producto.id}}</td>
<td>{{producto.nombre}}</td>
<td>{{producto.precio}}</td>
<td>{{producto.stock}}</td>
<td>
<img width="120" :src="producto.imagen" :alt="producto.nombre">
</td>
<td>
<a class="btn btn-primary" :href="'producto_update.html?id='+ producto.id" >Editar</a>
<button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>
</td>
</tr>
</tbody>
</table>
</div>
</section>
</div>
</div>
</main>
<footer class="somosss">
    <li>
        <a class="hh" href="#" title="enviar email">rincondelgocho@gmail.com</a>
        <a class="hh" href="#" title="WhatsApp">(+54)91128747959</a>
    </li>
    <li>
        <a class="hh" id="spacing" href="https://maps.app.goo.gl/XjYse6pF5TQfHRqTA" title="google maps">Av.
            Corrientes, 9 de Julio (obelisco)</a>
    </li>
    <br>
    <p> &COPY; 2023 <b>Rincon Del Gocho</b> - todos los derechos reservados </p>
</footer>
    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" 
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous">
    </script> <!--link boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
    <script src="/tienda/js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="../tienda/js/producto.js"></script>
    </body>
    </html>